<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog">
	<!-- 생성되는 블로그 정보 저장 -->
	<select id="maxBlogId" resultType="int">
	    SELECT NVL(MAX(blogId), 0) FROM blogInfo
	</select>
	
	<insert id="insertBlogInfo" parameterType="care.dog.blog.BlogInfo">
	    INSERT INTO blogInfo(blogId, memberId, title, introduce, closed)
	      VALUES (#{blogId}, #{memberId}, #{title}, #{introduce}, 
	                #{closed})
	</insert>
		<!-- 내 블로그의 전체 정보 -->
	<select id="readBlogInfo" parameterType="String" resultType="care.dog.blog.BlogInfo">
	    SELECT blogId, memberId, title, introduce, visitorCount, created, closed from blogInfo
	</select>
		<insert id="insertBlogProfile" parameterType="care.dog.blog.BlogInfo">
	    INSERT INTO blogProfile(blogId, userName, isUserName, 
	                  photoFilename, city, isCity, gender, isGender, hobby, isHobby)
	      VALUES (#{blogId}, #{userName}, #{isUserName},
	                 #{photoFilename, jdbcType=VARCHAR}, 
	                 #{city}, #{isCity}, #{gender}, #{isGender},
	                 #{hobby, jdbcType=VARCHAR}, #{isHobby})
	</insert>
		<!-- 개인 블로그의 메인 화면에 출력할 정보 -->
	<select id="readBlogInfoHome" parameterType="Integer" resultType="care.dog.blog.BlogInfo">
	    SELECT b.blogId, memberId,title, introduce, visitorCount, created, photoFilename
	           FROM blogInfo b
	           join blogProfile p on b.blogId=p.blogId
	           WHERE b.blogId=#{value}
	</select>
	
	<!-- 개인 블로그의 프로필에 출력할 정보 -->
<!-- 	<select id="readBlogInfoProfile" parameterType="Long" resultType="care.dog.blog.BlogInfo">
	    SELECT b.blogSeq, userId, nickName, introduce  
	              ,userName, isUserName, photoFilename, city
	              ,isCity, gender, isGender, hobby, isHobby
	           FROM blogInfo b
	           JOIN blogProfile p ON b.blogSeq = p.blogSeq
	           WHERE b.blogSeq=#{blogSeq}
	</select> -->
</mapper>