<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog">
	<!-- 생성되는 블로그 정보 저장 -->
	<select id="maxBlogId" resultType="int">
	    SELECT NVL(MAX(blogId), 0) FROM blogInfo
	</select>
	
	<insert id="insertBlogInfo" parameterType="care.dog.blog.BlogInfo">
	    INSERT INTO blogInfo(blogId, memberId, title, introduce, closed)
	      VALUES (#{blogId}, #{memberId}, #{title}, #{introduce}, 
	                #{closed})
	</insert>
		<!-- 내 블로그의 전체 정보 -->
	<select id="readBlogInfo" parameterType="String" resultType="care.dog.blog.BlogInfo">
	    SELECT blogId, memberId, title, introduce, visitorCount, created, closed from blogInfo
	</select>
	
</mapper>