<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dogHealth">

<sql id="where-list">
	<if test="searchKey=='memberId'">
		INSTR(memberId, #{searchValue})=1
	</if>
	<if test="searchKey=='title'">
		title like '%'||#{searchValue}||'%'
	</if>
	<if test="searchKey=='content'">
		DBMS_LOB.INSTR(content,#{searchValue})&gt;0
	</if>
	<if test="searchKey=='created'">
		TO_CHAR(created, 'YYYY-MM-DD')=#{searchValue} or
		TO_CHAR(created, 'YYYYMMDD')=#{searchValue}
	</if>
</sql>

<select id="listBoard" parameterType="map" resultType="care.dog.dog119.dogHealthVo.DogHealthVo">
	select * from(
		select rownum rnum, tb.* from(
			select boardNum, dh.memberId, title, content, created, hitCount
			from doghealth dh
                        JOIN member1 m ON dh.memberId=m.memberId
			<where>
				<if test="searchValue != null and searchValue!='' ">
					<include refid="where-list"/>
				</if>
			</where>
			
			order by dh.boardNum desc
<![CDATA[
		)tb where rownum <= #{end}
	)where rnum>=#{start}
]]>
</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
		select NVL(count(*),0) from doghealth join member1 on doghealth.memberId= member1.memberId
		<where>
			<if test="searchValue != null and searchValue!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE doghealth SET hitCount=hitCount+1 WHERE boardNum=#{boardNum}
	</update>
	
	<select id="dhDetail" resultType="care.dog.dog119.dogHealthVo.DogHealthVo" parameterType="Integer">
		SELECT boardNum, title, content, created, m.username, hitCount
		FROM dogHealth dh JOIN member1 m ON dh.memberId=m.memberId
		LEFT OUTER JOIN(
			SELECT num, COUNT(*) likeDh FROM dogHealthLike
			GROUP BY num
		) dhl ON dh.boardNum=dhl.num
		WHERE dh.boardNum=#{boardNum}
	</select>
	
	<insert id="dhLike" parameterType="map">
		INSERT INTO dogHealthLike(num, memberId) VALUES (#{num}, #{memberId})
	</insert>
	
	<select id="dhLikeCnt" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM dogHealthLike WHERE num=#{boardNum}
	</select>
	
	<insert id="dhReplyInsert" parameterType="care.dog.dog119.dogHealthVo.DhReplyVo">
		INSERT INTO dogHealthReply (dhReplyNum, dhReplyContent, memberId, boardNum) VALUES (dhReply_seq.NEXTVAL, #{content},#{memberId},#{boardNum})
	</insert>
	
	<select id="dhReplyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM dogHealthReply WHERE boardNum=#{boardNum}
	</select>
	
	<select id="dhReplyList" parameterType="map" resultType="care.dog.dog119.dogHealthVo.DhReplyVo">
			SELECT*FROM(
				SELECT ROWNUM rnum, tb.* FROM(
					SELECT dhReplyNum, m.memberId, boardNum, dhReplyContent, created
					FROM dogHealthReply dhr
					JOIN member1 m ON dhr.memberId=m.memberId
					WHERE boardNum=#{boardNum}
					ORDER BY dhr.dhReplyNum DESC
<![CDATA[
				) tb WHERE ROWNUM <= #{end}
			)WHERE rnum >= #{start}
]]>
		</select>

</mapper>