<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dogmissing">
<!-- 
	<insert id="dogmissingInput" parameterType="care.dog.dog119.DogMissingVo">
		INSERT INTO dogmissing (missingId, memberID, dname, dKind, dgender, age, dmissingdate, city, gugun, detail, ddetail, posx, posy, missingContent, dmoney, filename1, filename2, filename3)
		VALUES (dogmissing_seq.NEXTVAL, #{memberID}, #{dname}, #{dKind}, #{dgender}, #{age}, #{dmissingdate}, #{city}, #{gugun}, #{detail}, 
			#{ddetail}, #{posx}, #{posy}, #{missingContent}, #{filename1}, #{filename2}, #{filename3})
	</insert> -->
</mapper>