<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">

<select id="seq" resultType="Integer">
	SELECT event_seq.NEXTVAL FROM dual
</select>

<sql id="where-list">
	<if test="searchKey=='memberId'">
		memberId=#{searchValue}
	</if>
	<if test="searchKey=='subject' ">
		INSTR(subject, #{searchValue}) &gt; 0
	</if>
	<if test="searchKey=='content' ">
		DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0
	</if>
	<if test="searchKey=='created'">
		(TO_CHAR(created, 'YYYY-MM-DD') = #{searchValue}
		OR TO_CHAR(created, 'YYYYMMDD') = #{searchValue})
	</if>
</sql>

<insert id="insertEvent" parameterType="care.dog.center.event.Event">
INSERT INTO event (num, memberId, subject, content, isEvent, created)
VALUES (#{num}, #{memberId}, #{subject}, #{content}, 1, sysdate)
</insert>

<select id="listEvent" parameterType="map" resultType="care.dog.center.event.Event">
SELECT * FROM (
	SELECT ROWNUM rnum, tb.* FROM (
		SELECT num, e.memberId, subject, content, created ,isEvent
		FROM event e
		JOIN member1 m ON e.memberId=m.memberId
		<where>
        	<if test="searchValue != null and searchValue != ''">
				<include refid="where-list"/>
		    </if>
	    </where>
	    ORDER BY num DESC
	    <![CDATA[
	) tb WHERE ROWNUM <= 10
) WHERE rnum >= 1
]]>
</select>

<update id="updateEvent" parameterType="care.dog.center.event.Event">
UPDATE event SET subject=#{subject}, content=#{content}
WHERE num=#{num}
</update>

<delete id="deleteEvent" parameterType="Integer">
DELETE FROM event WHERE num=#{num}
</delete>

<select id="readEvent" parameterType="Integer" resultType="care.dog.center.event.Event">
SELECT num, e.memberId, subject, content, created, isEvent
FROM event e JOIN member1 m ON e.memberId=m.memberId
WHERE num = #{num}
</select>

<select id="preReadEvent" parameterType="map" resultType="care.dog.center.event.Event">
SELECT tb.* FROM (
	SELECT num, subject FROM event e
		JOIN member1 m ON e.memberId=m.memberId
		<where>
			<if test="searchValue != null and searchValue !=''">
				<include refid="where-list"/>
			</if>
			<![CDATA[
				AND (num > #{num})
			]]>
		</where>
		ORDER BY num ASC
) tb WHERE ROWNUM=1
</select>

<select id="nextReadEvent" parameterType="map" resultType="care.dog.center.event.Event">
SELECT tb.* FROM (
	SELECT num, subject FROM event e
	JOIN member1 m ON e.memberId=m.memberId
	<where>
		<if test="searchValue != null and searchValue != ''">
			<include refid="where-list"/>
		</if>
		<![CDATA[
			AND (num < #{num})
		]]>
	</where>
	ORDER BY num DESC
) tb WHERE ROWNUM=1
</select>

<insert id="insertFile" parameterType="care.dog.center.event.Event">
INSERT INTO eventFile(fileNum, num, saveFilename, originalFilename, fileSize)
VALUES (eventFile_seq.NEXTVAL, #{num}, #{saveFilename}, #{originalFilename}, #{fileSize})
</insert>

<select id="listFile" parameterType="Integer" resultType="care.dog.center.event.Event">
SELECT fileNum, num, saveFilename, originalFilename, fileSize FROM eventFile WHERE num=#{num}
</select>

<select id="readFile" parameterType="Integer" resultType="care.dog.center.event.Event">
SELECT  fileNum, num, saveFilename, originalFilename, fileSize
FROM eventFile WHERE fileNum=#{fileNum}  
</select>

<delete id="deleteFile" parameterType="map">
DELETE FROM eventFile WHERE num=#{num}
</delete>

<select id="dataCount" parameterType="map" 
	       resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM event e
		     JOIN member1 m ON e.memberId=m.memberId
		<where>
			<if test="searchValue != null and searchValue!=''  ">
				<include refid="where-list"/>
			</if>
		</where>
</select>
</mapper>