<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mungstar">

	<insert id="insertContext" parameterType="care.dog.mungstargram.vo.MungstarPVO">
		INSERT INTO mungstar (num, memberId, context)
		VALUES (mungstar_seq.NEXTVAL, #{memberId}, #{context})
	</insert>

	<insert id="insertPhoto" parameterType="care.dog.mungstargram.vo.MungstarPVO">
		INSERT INTO mungstarPhoto (photoNum, filename, num)
		VALUES (mungstarPhoto_seq.NEXTVAL, #{filename}, #{num})
	</insert>
	
	<insert id="insertTag" parameterType="care.dog.mungstargram.vo.MungstarPVO">
		INSERT INTO mungstarTag (tag, num)
		VALUES (#{tag}, #{num})
	</insert>

	<select id="selectMungstarNum" resultType="Integer">
		SELECT MAX(num) from mungstar
	</select>
	
	<select id="mungstarCount" parameterType="map" resultType="Integer">
		<if test="searchValue==null or searchValue=='' ">
			SELECT NVL(COUNT(*), 0) FROM mungstar
		</if>
		<if test="searchValue!=null and searchValue!='' ">
			<if test="searchKey=='tag'">
				SELECT COUNT(tag) tagCount
				FROM mungstarTag
				WHERE upper(tag) = upper(#{searchValue})
				GROUP BY tag
			</if>
			<if test="searchKey=='id'">
				SELECT NVL(COUNT(*), 0) FROM mungstar
				WHERE upper(memberId) = upper(#{searchValue})
			</if>
		</if>
	</select>

	<sql id="where-list">
		<if test="searchKey=='tag'">
			tag = #{searchValue}
		</if>
		<if test="searchKey=='id'">
			memberId = #{searchValue}
		</if>
	</sql>
	
	<select id="mungstarPhotoCount" parameterType="map" resultType="Integer">
		SELECT photoCount FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT COUNT(photoNum) photoCount
				FROM mungstarPhoto p
				<if test="searchValue != null and searchValue != '' ">
					<if test="searchKey=='tag'">
						LEFT OUTER JOIN mungstarTag t ON p.num = t.num
						WHERE tag = #{searchValue}
					</if>
					<if test="searchKey=='id'">
						JOIN mungstar m ON p.num = m.num
						WHERE memberId = #{searchValue}
					</if>
				</if>
				GROUP BY p.num
				ORDER BY p.num DESC
			<![CDATA[
			) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="likeCount" parameterType="map" resultType="Integer">
		SELECT likeCount FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT COUNT(l.num) likeCount
				FROM mungstar m
				LEFT OUTER JOIN mungstarLike l ON m.num = l.num
				<if test="searchValue != null and searchValue != '' ">
					<if test="searchKey=='tag'">
						LEFT OUTER JOIN mungstarTag t ON m.num = t.num
						WHERE tag = #{searchValue}
					</if>
					<if test="searchKey=='id'">
						WHERE m.memberId = #{searchValue}
					</if>
				</if>
				GROUP BY m.num
				ORDER BY m.num DESC
			<![CDATA[
			) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT replyCount FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT COUNT(r.num) replyCount
				FROM mungstar m
				LEFT OUTER JOIN mungstarReply r ON m.num = r.num
				<if test="searchValue != null and searchValue != '' ">
					<if test="searchKey=='tag'">
						LEFT OUTER JOIN mungstarTag t ON m.num = t.num
						WHERE tag = #{searchValue}
					</if>
					<if test="searchKey=='id'">
						WHERE m.memberId = #{searchValue}
					</if>
				</if>
				GROUP BY m.num
				ORDER BY m.num DESC
			<![CDATA[
			) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="mungstarList" parameterType="map" resultType="care.dog.mungstargram.vo.MungstarRVO">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT DISTINCT(m.num), filename
				FROM mungstar m
				JOIN mungstarPhoto p ON m.num = p.num
				LEFT OUTER JOIN mungstarTag t ON m.num = t.num
				<where>
					<if test="searchValue != null and searchValue != '' ">
						<include refid="where-list"/>
					</if>
					AND photoNum IN (
						SELECT MIN(photoNum)
						FROM mungstarPhoto
						GROUP BY num
					)
				</where>
				ORDER BY m.num DESC
		<![CDATA[
			) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="mungstarPhotoList" parameterType="Integer" resultType="care.dog.mungstargram.vo.MungstarRVO">
		SELECT filename
		FROM mungstarPhoto
		WHERE num = #{num}
		ORDER by photoNum
	</select>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE mungstar
		SET hitCount = hitCount + 1 
		WHERE num = #{num}
	</update>

	<select id="mungstarContent" parameterType="care.dog.mungstargram.vo.MungstarPVO" resultType="care.dog.mungstargram.vo.MungstarRVO">
		SELECT memberId, context, hitCount, created
		FROM mungstar
		WHERE num = #{num}
	</select>
	
	<select id="selectTag" parameterType="String" resultType="care.dog.mungstargram.vo.MungstarRVO">
		SELECT tag, COUNT(tag) tagCount
		FROM mungstarTag
		WHERE upper(tag) like '%' || upper(#{tag}) || '%'
		GROUP BY tag
		ORDER BY tagCount DESC
	</select>
	
	<select id="selectMemberId" parameterType="String" resultType="care.dog.mungstargram.vo.MungstarRVO">
		SELECT memberId, COUNT(memberId) tagCount
		FROM mungstar
		WHERE upper(memberId) like '%' || upper(#{tag}) || '%'
		GROUP BY memberId
		ORDER BY memberId DESC
	</select>
	
	<select id="selectMungstarLike" parameterType="care.dog.mungstargram.vo.MungstarPVO" resultType="Integer">
		SELECT COUNT(*)
		FROM mungstarLike
		WHERE num = #{num} and memberId = #{memberId}
	</select>
	
	<select id="mungstarLikeCount" parameterType="care.dog.mungstargram.vo.MungstarPVO" resultType="Integer">
		SELECT COUNT(*)
		FROM mungstarLike
		WHERE num = #{num}
	</select>
	
	<insert id="insertMungstarLike" parameterType="care.dog.mungstargram.vo.MungstarPVO">
		INSERT INTO mungstarLike (num, memberId)
		VALUES (#{num}, #{memberId})
	</insert>
	
	<delete id="deleteMungstarLike" parameterType="care.dog.mungstargram.vo.MungstarPVO">
		DELETE FROM mungstarLike
		WHERE num = #{num} and memberId = #{memberId}
	</delete>
	
	<insert id="insertMungstarReply" parameterType="care.dog.mungstargram.vo.MungstarPVO">
		INSERT INTO mungstarReply (replyNum, num, memberId, reply)
		VALUES (mungstarReply_seq.NEXTVAL, #{num}, #{memberId}, #{reply})
	</insert>
	
	<select id="mungstarReplyList" parameterType="care.dog.mungstargram.vo.MungstarPVO" resultType="care.dog.mungstargram.vo.MungstarRVO">
		SELECT reply
		FROM mungstarReply
		WHERE num = #{num}
		ORDER BY replyNum
	</select>
	
</mapper>