<?xml version="1.0" encoding="UTF-8"?>
<!-- aa -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageGuest">
	<select id="maxNum" resultType="Integer" parameterType="map">
		SELECT NVL(MAX(num), 0) FROM ${tableName}_guest
	</select>
	
	<insert id="insertGuest" parameterType="care.dog.myPage.guest.Guest">
	INSERT INTO ${tableName}_guest(num, myPageId, memberId, content)
	   VALUES (#{num}, #{myPageId}, #{memberId}, #{content})
	</insert>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
	   SELECT NVL(COUNT(*), 0) FROM ${tableName}_guest
	</select>
	
	<select id="listGuest" resultType="care.dog.myPage.guest.Guest" parameterType="map">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT num, g.memberId, m.userName, g.myPageId, g.content, g.created
			        FROM ${tableName}_guest g 
	                JOIN member1 m ON g.memberId=m.memberId
	                ORDER BY num DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<delete id="deleteGuest" parameterType="map">
	DELETE ${tableName}_guest WHERE num=#{num}
	</delete>   
	

</mapper>