<?xml version="1.0" encoding="UTF-8"?>
<!-- aa -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">
	<!-- 생성되는 블로그 정보 저장 -->
	<select id="maxMyPageId" resultType="Integer">
	    SELECT NVL(MAX(myPageId), 0) FROM myPageInfo
	</select>
	
	<insert id="insertMyPageInfo" parameterType="care.dog.myPage.MyPageInfo">
	    INSERT INTO myPageInfo(myPageId, memberId, title, introduce, closed)
	      VALUES (#{myPageId}, #{memberId}, #{title}, #{introduce}, 
	                #{closed})
	</insert>
		<!-- 내 블로그의 전체 정보 -->
	<select id="readMyPageInfo" parameterType="String" resultType="care.dog.myPage.MyPageInfo">
	    SELECT myPageId, memberId, title, introduce, visitorCount, created, closed from myPageInfo where memberId = #{memberId}
	</select>
	<insert id="insertMyPageProfile" parameterType="care.dog.myPage.MyPageInfo">
	    INSERT INTO myPageProfile(myPageId, userName, isUserName, 
	                  city, isCity, gender, isGender, hobby, isHobby)
	      VALUES (#{myPageId}, #{userName}, #{isUserName},
	                 #{city}, #{isCity}, #{gender}, #{isGender},
	                 #{hobby, jdbcType=VARCHAR}, #{isHobby})
	</insert>
	<update id="updateProfilePhoto" parameterType="care.dog.myPage.MyPageInfo">
		update member2 set profilePhoto=#{profilePhoto, jdbcType=VARCHAR}
			where memberId=#{memberId}
	</update>
		<!-- 개인 블로그의 메인 화면에 출력할 정보 -->
	<select id="readMyPageInfoHome" parameterType="Integer" resultType="care.dog.myPage.MyPageInfo">
	    SELECT b.myPageId, b.memberId,title, introduce, visitorCount, created, profilePhoto,userName, isUserName, city
	              ,isCity, gender, isGender, hobby, isHobby
	           FROM myPageInfo b
	           join myPageProfile p on b.myPageId=p.myPageId
	           join member2 m on b.memberId=m.memberId
	           WHERE b.myPageId=#{value}
	</select>
		<update id="updateMyPageVisitorCount" parameterType="Integer" >
	    UPDATE myPageInfo SET visitorCount=visitorCount+1 WHERE myPageId=#{myPageId}
	</update>

	
		<!-- 테이블 생성 및 삭제  -->

 	<!-- 블로그 방명록 -->
	<update id="createGuestTable" parameterType="Integer">
	CREATE TABLE b_${value}_guest (
 	    num       NUMBER NOT NULL
	    ,myPageId      NUMBER NOT NULL
	    ,MemberId   VARCHAR2(20) NOT NULL
	    ,content  VARCHAR2(4000) NOT NULL
	    ,created  DATE DEFAULT SYSDATE
	    ,PRIMARY  KEY(num)
 	    ,FOREIGN    KEY(myPageId) REFERENCES myPageInfo(myPageId)
                     ON DELETE CASCADE
        ,FOREIGN  KEY(MemberId) REFERENCES member1(MemberId)
	      ON DELETE CASCADE
	)
	</update>    
	<update id="dropGuestTable" parameterType="Integer">
	    DROP TABLE b_${value}_guest PURGE
	</update>


</mapper>