<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oneforone">

<!-- <select id="oneforone" resultType="Integer">
select oneforone_seq.NEXTVAL from dual
</select>

<insert id="insertonefone" parameterType="care.dog.onefone.OneFOne">
insert into oneforone(num, memberId, email, tel, sort, subject, content, qdate) values (oneforone_seq.NEXTVAL, #{memberId}, #{email}, #{tel}, #{sort}, #{subject}, #{content},#{qdate})
</insert> -->


</mapper>