<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service">
    <select id="seq" resultType="Integer">
    	SELECT sitterInfo_seq.NEXTVAL 
    	FROM dual
    </select>
    
	<insert id="insertSitterInfo" parameterType="care.dog.service.ServiceDto">
		INSERT INTO sitterInfo (sittingId, memberId, title, content, startDate, endDate, reserDiv, reserCost,
		addPet, addPetCost, carableWeight, carableAge, space, subway, yard, baby,
		family, other)
		VALUES (#{sittingId}, #{memberId}, #{title}, #{content}, #{startDate}, #{endDate}, #{reserDiv}, #{reserCost},
		#{addPet}, #{addPetCost}, #{carableWeight}, #{carableAge}, #{space}, #{subway}, #{yard}, #{baby},
		#{family}, #{other})
	</insert>
	
	<insert id="insertSitterPhoto" parameterType="care.dog.service.ServiceDto">
		INSERT INTO sitterPhoto (sittingId, photoId, fileName)
		VALUES (#{sittingId}, sitterPhoto_seq.NEXTVAL, #{imageFilename,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSitterTag" parameterType="care.dog.service.ServiceDto">
		INSERT INTO sitterTag (sittingId, tagId, tagName)
		VALUES (#{sittingId}, sitterTag_seq.NEXTVAL, #{tagName})
	</insert>
	
	<select id="sitterTot" resultType="Integer">
		SELECT count(distinct(memberId))
		FROM sitterInfo
	</select>
	
	<select id="listSitter" resultType="care.dog.service.ServiceDto">
		SELECT a.title, a.memberId, a.reserCost, b.fileName imageFilename
		FROM sitterInfo a, sitterPhoto b
		WHERE a.sittingId = b.sittingId
	</select>
	
	<select id="sitterPhotoList" resultType="care.dog.service.ServiceDto">
		SELECT sittingId, fileName imageFilename
		FROM sitterPhoto
	</select>
	
	<select id="sitterList" parameterType="map" resultType="care.dog.service.ServiceDto">
		SELECT sittingId, title, memberId, reserDiv, reserCost
		FROM sitterInfo
	</select>
	
	<select id="sitterTagList" resultType="care.dog.service.ServiceDto">
		SELECT sittingId, tagName
		FROM sitterTag
	</select>
	
	<select id="selectSitter" resultType="care.dog.service.ServiceDto">
		SELECT s.sittingId, s.title, s.memberId, s.reserDiv, s.reserCost
	    FROM sitterInfo s,member2 m
	    WHERE reserDiv = #{reserDiv}
	        and carableWeight = #{carableWeight}
	        and	carableAge = #{carableAge}
	        and startDate <![CDATA[>= #{startDate}]]>
	        and endDate <![CDATA[<= #{endDate}]]>
	        and s.memberId = m.memberId
	        and m.address1 like '%'||#{address}||'%'
	</select>
	
	<select id="selectTag" parameterType="String" resultType="care.dog.service.ServiceDto">
		SELECT a.sittingId, a.title, a.memberId, a.reserDiv, a.reserCost, b.tagName
		FROM sitterInfo a, sitterTag b
		WHERE tagName = #{tagName}
	</select>
	
	<select id="readSitter" resultType="care.dog.service.ServiceDto">
		SELECT a.*, b.address1, c.userName
		FROM sitterInfo a, member2 b, member1 c
		WHERE a.memberId = b.memberId 
			and sittingId = #{sittingId} 
			and a.memberId = c.memberId
	</select>
</mapper>