<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service">
    <select id="seq" resultType="Integer">
    	SELECT sitterInfo_seq.NEXTVAL from dual
    </select>
	<insert id="insertSitterInfo" parameterType="care.dog.service.ServiceDto">
		INSERT INTO sitterInfo (sittingId, memberId, title, content, startDate, endDate, reserDiv, reserCost,
		addPet, addPetCost, carableWeight, carableAge, tag, space, subway, yard, baby,
		family, other)
		VALUES (#{sittingId}, #{memberId}, #{title}, #{content}, #{startDate}, #{endDate}, #{reserDiv}, #{reserCost},
		#{addPet}, #{addPetCost}, #{carableWeight}, #{carableAge}, #{tag}, #{space}, #{subway}, #{yard}, #{baby},
		#{family}, #{other})
	</insert>
	
	<insert id="insertSitterPhoto" parameterType="care.dog.service.ServiceDto">
		INSERT INTO sitterPhoto (sittingId, photoId, fileName)
		VALUES (#{sittingId}, sitterPhoto_seq.NEXTVAL, #{imageFilename,jdbcType=VARCHAR})
	</insert>
</mapper>