<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volunteer">

<insert id="vInsert" parameterType="map">
	INSERT INTO volunteer(volunteerId, mem_check, name, gender, age, tel_1, tel_2, tel_3, email, area, peopleCnt, vKind
		, experience, necessity, vOption, fdate1, time, selfIntroduce)
	VALUES (vol_seq.NEXTVAL, #{mem_check}, #{name}, #{gender}, #{age}, #{tel_1}, #{tel_2}, #{tel_3}, #{email}, #{area}, #{peopleCnt}, #{vKind}
		, #{experience}, #{necessity}, #{vOption}, #{fdate1}, #{time}, #{selfIntroduce})
</insert>

<select id="vAdminList" resultType="care.dog.admin.strayDogVo.VolunteerVO" parameterType="map">
	SELECT volunteerId, mem_check, name, peopleCnt, fdate1, time, vKind, isChecked, vOption
		FROM volunteer
		<where>
		<if test="group !='all' ">
		    AND vKind=#{group}
		</if>
        <![CDATA[
             AND ((fdate1>=#{start} AND fdate1<=#{end})
                OR (fdate1>=#{start} AND fdate1<=#{end}))
        ]]>       
   	  </where>
		 ORDER BY fdate1 ASC, volunteerId DESC
</select>
</mapper>