.content { float: left; width: 954px; /*min-height:800px;*/}
.content.page-main { float: none; width: auto; }
.page-tit { margin: 30px 0; color: #222; line-height: 1; margin-left: -2px; font-size: 32px; position:relative; }/* 20171027 수정 */
.page-tit:before { display: block; width: 30px; margin-bottom: 12px; margin-left: 2px; border-top: 3px solid #1991d7; content: ''; }
.volunteer__info { width: 100%; height: 683px; padding: 0px 60px; background-image: url("../../../resource/img/strayDog/service_bg.jpg"); -webkit-box-sizing: border-box; box-sizing: border-box; }
.volunteer__tit { margin: 0px; padding-top: 80px; font-size: 28px; color: #222; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }
.volunteer__dl { margin-top: 40px; }
.volunteer__dt { font-size: 16px; color: #222; font-weight: 700; }
.volunteer__dd { margin: 10px 0px 0px; padding-left: 25px; line-height:1.5;}
.volunteer__dd + .volunteer__dt { margin-top: 20px; }
.inline-block { display: inline-block !important; }

.wd40 { width: 40px !important; }

.wd60 { width: 60px !important; }

.wd80 { width: 80px !important; }

.wd100 { width: 100px !important; }

.wd120 { width: 120px !important; }

.wd160 { width: 160px !important; }

.wd240 { width: 240px !important; }

.wd250 { width: 250px !important; }

.wd320 { width: 320px !important; }

.wd460 { width: 460px !important; }

.wd600 { width: 600px !important; }

.wd704 { width: 704px !important; }

.wd100p { width: 100% !important; }

.hg100 { height: 100px !important; }

.hg140 { height: 140px !important; }

.hg180 { height: 180px !important; }

.hg550 { height: 550px !important; }

.hg560 { height: 560px !important; }

.hg720 { height: 720px !important; }

/*margin*/
.mt0 { margin-top: 0px !important; }

.mt10 { margin-top: 10px !important; }

.mt15 { margin-top: 15px !important; }

.mt20 { margin-top: 20px !important; }

.mt30 { margin-top: 30px !important; }

.mt40 { margin-top: 40px !important; }

.mt50 { margin-top: 50px !important; }

.mt60 { margin-top: 60px !important; }

/*폰트사이즈*/
.fs0 { font-size: 0 !important; }

.txt_c { text-align: center !important; }

.left__group { text-align: left; font-size: 0; }

.center__group { text-align: center; font-size: 0; }

.right__group { text-align: right; font-size: 0; }

.btn + .btn { margin-left: 10px; }

.btn { display: inline-block; width: 120px; height: 40px; text-align: center; line-height: 38px; font-size: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.btn1 { background-color: #1991d7; color: #fff; border: 1px solid #1991d7; }

.btn2 { border: 1px solid #666666; color: #666666; }

.btn3 { background-color: #f24443; color: #fff; border: 1px solid #f24443; }

.btn4 { border: 1px solid #cccccc; color: #767676; background-color: #fff; }

.bt { border-top: 1px solid #dedede !important; }

.fl_r { float: right; }

.dash { margin: 0px 10px; font-size: 14px; vertical-align: middle; }

.button1 { width: 100px; border: 1px solid #ddd; color: #767676; font-weight: 700; background-color: #fff; cursor: pointer; }

.textarea1 { height: 300px; padding: 5px; border: 1px solid #ddd; -webkit-box-sizing: border-box; box-sizing: border-box; font-size:13px; }/* 20171023 수정 */

.sub__txt { margin-left: 10px; font-size: 13px; vertical-align: middle; }
.sub__txt.type-another { position: absolute; top: 0; bottom: 0; left: 130px; margin: auto 0; height: 20px; line-height: 20px; }

.table1 { width: 100%; border-spacing: 0; border-collapse: collapse; text-align: left; }
.table1__tr { border-top: 1px solid #dedede; }
.table1__th { padding: 22px 30px; background-color: #fafafa; border-bottom: 1px solid #dedede; font-size: 14px; color: #222; text-align:left;}
.table1__td { padding: 22px 30px; border-bottom: 1px solid #dedede; }
.input1 { -webkit-box-sizing: border-box; box-sizing: border-box; height: 30px; padding: 5px; border: 1px solid #dddddd; vertical-align: middle; font-size: 14px; line-height: 1; }
.input1 + .input1 { margin-left: 5px; }

.input__form { margin: -7px 0px; font-size: 0; }
.input__form.type-another { position: relative; }
.input__txt { font-size: 14px; vertical-align: middle; }
.input__calender { overflow: hidden; position: relative; left: -1px; display: inline-block; text-indent: -9999px; width: 30px; height: 30px; background-image: url("<%=cp%>/resource/img/strayDog/calender_icon.jpg"); vertical-align: middle; }

.input1 + .input__txt { margin-left: 10px; }

.input__calender + .input__txt { margin-left: 10px; }

.input__wrap { display: inline-block; }
.input__wrap + .input__wrap { margin-top: 5px; }
b, strong { font-weight: bold; }

a { color: inherit; text-decoration: none; }

p { line-height: 1.5; margin: 1em 0; }

input:not([type='checkbox']), input:not([type='radio']), textarea, select { border-radius: 0; }

input:not([type='checkbox']), input:not([type='radio']), textarea, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

button, input[type='checkbox'], input[type='radio'], input[type='button'], input[type='submit'], input[type='image'] { cursor: pointer; }

.font1 { font-family: "Nanum Gothic", sans-serif; }

.font2 { font-family: "Open Sans", sans-serif; }

.gray1 { color: #767676; }

.gray2 { color: #222; }

.color1 { color: #1991d7 !important; }

.color2 { color: #009e52; }

.color3 { color: #f24443; }

.h180 { height: 180px !important; }

.h200 { height: 200px !important; }

.hidden { overflow: hidden; position: absolute; width: 0; height: 0; }
.hidden.is-view { position: static; width: auto; height: auto; }
.radio01 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio01 + .label01:before { content: ""; position: absolute; top: 4px; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12px; height: 12px; margin: auto; border: 1px solid #666; border-radius: 50%; }
  .radio01:checked + .label01:after { content: ""; position: absolute; top: 7px; left: 3px; width: 6px; height: 6px; margin: auto; border-radius: 50%; background: #767676; }
  .radio01 + .label01 { position: relative; font-size: 14px; font-weight: 500; color: #898989; padding-left: 21px; display: inline-block; height: 20px; line-height: 20px; margin-left: 0; cursor: pointer; }
  .radio01 + .label01.other { font-size: 12px; color: #555; line-height: 20px; }
  .radio01 + label + .radio01 + label { margin-left: 20px; } }
.radio01 + label + .radio01 { margin-left: 20px; }
checkbox01 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .checkbox01 + label.solo.type-cart { float: left; width: 0px; margin-top: 15px; padding-left: 12px; }
  .checkbox01 + label { position: relative; margin-left: 0; padding-left: 20px; cursor: pointer; }
  .checkbox01 + label:before { position: absolute; top: 0; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12px; height: 12px; margin: auto; border: 1px solid #dddddd; background-color: #fff; content: ''; cursor: pointer; }
  .checkbox01.type-another + label:before { border: 1px solid #767676; }
  .checkbox01:checked + label:after { position: absolute; top: -3px; left: 2px; bottom: 0; width: 6px; height: 4px; margin: auto; border-left: 2px solid #222; border-bottom: 2px solid #222; -webkit-transform: rotate(-48deg); -ms-transform: rotate(-48deg); transform: rotate(-48deg); background-repeat: no-repeat; cursor: pointer; content: ''; }
  .checkbox01 + label { margin-right: 20px; }
  .checkbox01:last-of-type + label { margin-right: 0; }
  .checkbox01.disabled + label:before { position: absolute; top: 0; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12px; height: 12px; margin: auto; border: 1px solid #dddddd; background-color: #ddd; content: ''; cursor: pointer; } }
.checkbox01 + label.solo { overflow: hidden; text-indent: -9999px; min-height: 12px; width: 0px; }
.checkbox01 + label { display: inline-block; margin-left: 5px; margin-right: 10px; font-size: 14px; }
.textarea1 { height: 300px; padding: 5px; border: 1px solid #ddd; -webkit-box-sizing: border-box; box-sizing: border-box; font-size:13px; }/* 20171023 수정 */
.dash {
    margin: 0px 10px;
    font-size: 14px;
    vertical-align: middle;
}