@CHARSET "UTF-8";

.myPage-main {
	width:1020px;
	margin:0px auto;
}

.myPage-main-header {
	 clear: both;
}

.myPage-main-header-top {
	clear: both;
	height: 70px;
	line-height: 70px;
}

.myPage-main-header-top a{
	text-decoration: none;
}

.myPage-main-header-menu {
    clear: both;	
}

.nav {
  float: left;
  width: 1020px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #424951;
}

.nav li {
  display: inline;
}

.nav li a {
  float: left;
  font-size:14px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 13px 20px;
  background: #424951;  
}

.nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus {
    color: #fff;
    background-color: #2f3741;
    font-weight: bold;
}

.myPage-main-body {
	floag:left;
	clear:both;
	min-height: 600px;
}

.myPage-main-body .bodyFrame3 {
	clear:both;
	width:1020px;
	margin:10px auto;
}

.myPage-main-footer {
	padding-top:10px;
	text-align: center;
}

.myPage-main-footer a {
	text-decoration: none;
}

