@CHARSET "UTF-8";
/* caredog */
html{
	height:100%;
}
body{
	height:100%;
}
.myPage-background{
		height:100%;
		width:100%;
}
.myPage-layout {
	clear: both;
	height:100%;
	width:1300px;
	padding-top:20px;
	margin:0px auto;
    min-height: 600px;
    
}
.myPage-layout-left{
	width:250px;
			float:left;
			margin-right:50px;
	font-size: 9pt;
}
.myPage-layout-right {
	float:left;
	width:250px;
	margin-top:15px;
	text-align:left;
	min-height:600px;
	margin-left: 50px;
}
.myPage-layout-body{
	background-color:white;
padding:15px;
	width:700px;
	float:left;
	border-radius: 20px;
}

.myPage-header {
	
	width:1300px;
	margin:0px auto;
	 clear: both;
}
.myPage-container{
	    clear:both;
    width:100%;
    min-height: 600px;
    padding-top: 100px;    
    text-align:left;
	padding-right: 0px;
	padding-left: 0px;
}

.myPage-HeaderBetweenBodyLine{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	width:100%;
}
.myPage-header-top {
	/* clear: both; */
/* 	height: 30px; */
/* 	line-height: 70px; */
}

.myPage-header-top a{
	text-decoration: none;
}

.myPage-header-menu {
    clear: both;	
}
}
.nav {
  float: left;
  width: 1020px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #424951;
}

.nav li {
  display: inline;
}

.nav li a {
  float: left;
  font-size:14px;
  color: #5C95C5;
  text-decoration: none;
  margin: 0;
  font-weight: bold;
  padding: 13px 20px;
  
}

.nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus {
    color: #5C95C5;
    background-color: #EBF7FF;
    font-weight: bold;
}



}

